<div class="center">
  <% if @weather_object.blank? %>
    <div>Please input a zip code to get started!</div>
  <% elsif !@weather_object[:success] %>
    <p class="red"><%= @weather_object[:error] %></p>
  <% else %>
    <% if @weather_object[:pulled_from_cache] %>
      <div class="orange">
        <!-- NOTE: the following methods (time_ago_in_words, and distance_of_time_in_words) will include seconds when their values are less than 1.5. -->
        <p>
          The following weather was retrieved <strong><%= retrieved_at_minutes_ago(@zip_code) %> ago.</strong>
          <br>
          It will refresh in <strong><%= will_refresh_at_in_minutes(@zip_code) %>.</strong>
        </p>.
      </div>
    <% else %>
      <p class="limegreen">
        This is the most up-to-date weather forecast!
      </p>
    <% end %>
    <div>
      <% weather = @weather_object[:weather] %>
      <% location = weather['location'] %>
      <% current_weather = weather['current'] %>
      
      <div>Location: <strong><%= location['name'] %>, <%= location['region'] %> (<%= @zip_code&.zip_code %>)</strong></div>
      <br>
      <div>Current Weather: <strong><%= current_weather.dig('condition', 'text') || 'not available!' %></strong></div>
      <br>
      <div>Temperature: <strong><%= current_weather['temp_f'] %> F (<%= fahrenheit_to_celsius(current_weather['temp_f']) %> C)</strong></div>
      <br>
      <div>Feels like: <strong><%= current_weather['feelslike_f'] %> F</strong></div>
      <br>
      <div>Wind Gusts: <strong><%= current_weather['gust_mph'] %> mph</strong></div>
    </div>
  <% end %>
</div>

<br>
<br>

<div class="center">
  <%= form_with(url: weather_for_zip_path, method: :get) do |form| %>
    <div>
      <%= form.label :zip_code, 'Zip Code' %>
    </div>
    <div>
      <%= form.text_field :zip_code, value: @zip_code&.zip_code %>
    </div>
    <br>
    <div>
      <%= form.submit 'Submit' %>
    </div>
  <% end %>
</div>
